body {
    background-color: aliceblue;
  }
  
  .ex {
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
  }
  
  #ex3_one, #ex3_two {
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
    height: 50px;
  }
  
  #ex3_element {
    display: 'block';
    cursor: pointer;
    background-color: red;
    width: 100px;
  }
